<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Delete User</title>
	<th:block th:include="fragments/header"></th:block>
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>

<th:block th:include="fragments/nav"></th:block>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>회원 탈퇴 요청 처리 :
        <span th:text = "${name}"></span> 님 다음에 뵙겠습니다.
        </h1>
	</div>
       
</div>

<th:block th:include="fragments/footer"></th:block>

</body>
</html>